body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* .first-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
} */
html{
    scroll-behavior: smooth;
}
.half-width{
    width: 40%;
    margin: 0 5%;
    padding: 50px 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.first-section{
    display: flex;
    width: 1300px;
    margin: 0 auto;
    
}
.nav-and-first-section{
    background-image: url(./Images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width img{
    width: 85%;
}
h1 span{
    color: orange;
}
h1{
    font-size: 50px;
    margin: 0;
}
.btn{
    padding: .7rem 2.5rem;
    border-radius: 5px;
    background-image: linear-gradient(salmon, orange);
    font-weight: 700;
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}
.second-section{
    /* display: flex; */
    background-image: url(./Images/dream-bg.png);
     background-repeat: no-repeat;
    background-position: right;
    /* width: 1300px;
    margin: 0 auto;  */
}
.second-section .parent-div{
    display: flex;
    /* background-image: url(./Images/dream-bg.png); */
    background-repeat: no-repeat;
    background-position: right;
    width: 1300px;
    margin: 0 auto;
}
.third-section{
    background-image: url(./Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-y: center;
   
}
.first-div{
    width: 1300px;
    margin: 0 auto;
}
.parent-div{
    margin-top: 20px;
    display: flex;
    margin-bottom: 3rem;
}
.fullStack{
    box-shadow: 10px 10px 40px gray;
    padding: 10px 30px;
    border-left: 8px solid;
    border-image: linear-gradient(salmon, orange) 30;
    border-image-slice: 1;
}
.babyWeb{
    box-shadow: 10px 10px 40px gray;
    padding: 10px 30px;
    border-left: 8px solid;
    border-image: linear-gradient(blue, cyan) 30;
    border-image-slice: 1;
}
footer{
    text-align: center;
    background-color: #F2F2F2;
    height: 10rem;
    padding-top: 3rem;
}
footer a{
    color: black;
    margin-right: 10px;
}
nav{
    display: flex;
    /* text-align: center; */
    /* justify-content: center; */
    /* align-items: center; */
}
.left{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
.left h2{
    margin-right: 4rem;
}
.left a{
    margin-right: 2rem;
    text-decoration: none;
    font-weight: 700;
    color: rgb(151, 47, 151);
    /* color: cyan; */
}
.item-center{
    align-items: center;
}
.container{
    width: 1179px;
    margin: 0 auto;
}
.justify-between{
    justify-content: space-between;
}
.heading span{
    color: cyan;
}
.heading p{
    /* color: darkgray; */
    color:gray;
}
.heading{
    text-align: center;
}
.blog{
   
    background-color: #F2F2F2;
    padding: 10rem 0;
    padding-top: 3rem;
   clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
    /* background-color: #898989; */
}
.card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    width: 1179px;
    margin: 0 auto;
    /* text-align: center; */
}
.contact-us{
    width: 1179px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.card{
    box-shadow: 10px 10px 40px gray;
    
}
.card img{
    width: 100%;
}
.card a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    /* font-weight: 700; */
}

.card p{
    color: gray;
}
.card-text{
    padding: 0 2rem;
}
.contact-us .first{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}
.contact-us .second{
    display: flex;
    flex-direction: column;
}
.contact-us input{
    padding: 10px;
    margin-bottom: 20px;
}
.contact-us textarea{
    padding: 10px;
}
.form-btn{
   text-align: center;
   margin: 3rem 0;
}
